$desktop-only: '(min-width: 1025px)';
$desktop-lg: '(max-width: 1600px)';
$desktop: '(max-width: 1440px)';
$desktop-sm: '(max-width: 1280px)';
$tablet: '(max-width: 1024px)';
$tablet-sm: '(max-width: 768px)';
$phone: '(max-width: 540px)';
$phone-xs: '(max-width: 448px)';